body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

ul {
    
    font-size: 18px;
    color: #E5E7EB;
}

.section.hero{
    background-color: #1F2937;
}

.navigator{
    display: flex;
}

h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8
}

.intro{
    display: flex;
    flex: 1;
}

img{
    max-width: 100%;
    max-height: 300px;
}

p{
    font-size: 18px;
    color: #E5E7EB;
}

.intro.text{
    display: flex;
    flex-direction: column;
}

button{
    max-width: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-style: none;
    padding: 5px;
    border-radius: 5%;
}