body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

ul {
    
    font-size: 18px;
    color: #E5E7EB;
    
}

ul.logo{
    margin-right: auto;
    padding: 0;
    font-size: 24px;
    color: #F9FAF8;
}

.section.hero{
    background-color: #1F2937;
}

.navigator{
    display: flex;
    padding: 10px 200px;
}

h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0;
}

.intro{
    display: flex;
    flex: 1;
    padding: 70px 200px;
    justify-content: center;
    align-content: center;
    
    
}

.intro.image{
    padding:0;
}
img{
    max-width: 100%;
    max-height: 250px;
}

p{
    font-size: 18px;
    color: #E5E7EB;
    margin: 5px 0px;
}

.intro.text{
    display: flex;
    flex-direction: column;
    padding: 0;
}

button{
    max-width: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-style: none;
    padding: 5px;
    border-radius: 5%;
    margin-top: 5px;
}

.card-container{
    display: flex;
    gap: 30px;
    justify-content: center;
}

img.card{
    border-width: 4px;
    border-color: #3882F6;
    border-radius: 8%;
    border-style: solid;

}

h1.dark {
    font-size: 36px;
    color: #1F2937;
    font-weight: extra-bold;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

p.dark{
    color: #777777;
    display: flex;
    justify-content: center;
}

.options{
    padding: 70px 200px;
}

.section.quote{
    background-color: #E5E7EB;
}

q {
    font-size: 36px;
    font-style: light italic;
    color: #1F2937
}

p.quote{
    font-weight: extra-bold;
    color: #1F2937;
}
